　<% provide(:title, "新規投稿") %>
<h3>予定の新規追加</h3>
<p>Find me in app/views/post/new.html.erb</p>

<%= form_with(model: @post, local: true) do |f| %>

  <%= render 'shared/error_messages' %>

  <%= f.label :title,"タイトル" ,class: "form-label" %>
  <%= f.text_field :title ,class: "form-control" %>

  <div class="row my-2">
  <div class="col-6">
  <%= f.label :start,"開始日",class: "form-label " %>
  <%= f.date_field  :start, class: " form-control "%>
  </div>
  <div class="col-6">
  <%= f.label :finish,"終了日",class: "form-label" %>
  <%= f.date_field :finish, class: "form-control"%>
  </div>
  </div>
  <div class="my-2">
  <%= f.check_box :alltime  %>
  <%= f.label :alltime,"終日の場合はチェックを入れてください" ,class: "form-label"%>
   </div>
  <%= f.label :memo,"スケジュールメモ",class: "form-label"%>
  <%= f.text_area :memo,class: "form-control" %>
  <div class="text-right">
  <%= f.submit "保存", class: "btn btn-primary my-2" %>
  </div>
<% end %>
